* {
    margin: 0;
    color: seashell;
    font-size: 22px;
    font-family: Helvetica;
    font-weight: 700;
}

body {
    width: 100vw;
    background-color: rgba(1, 1, 1, 1);
}

header {
    width: 100vw;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
}

header img {
    height: 50px;
    margin: 10px;
}

.header-menu {
    margin: 20px 20px;
}

.header-menu a {
    text-decoration: underline;
    margin: 10px;
}

.mission-container {
    opacity: 0.5;
    width: 100%;
    height: 700px;
    background-image: url("/assets/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.mission-text-container {
    background-color: rgba(1, 1, 1, 1);
    width: 1200px;
    height: 100px;
    text-align: center;
    margin: 300px auto;
}

.mission-title {
    font-size: 32px;
    margin: 15px;
}

.tea-of-the-month-title, .sleeping-at-tea-cozy {
    opacity: 0.5;
    text-align: center;
}

.tea-of-the-month-title {
    margin: 100px auto 20px;
    font-size: 32px;
}

.images-container {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 450px 80px;
    opacity: 0.5;
}

.images-container img {
    width: 300px;
    height: 200px;
    margin: 25px 20px;
}

.images-container h4 {
    margin: 10px 0;
    text-align: center;
}

.bottom-img_1 {
    margin-left: 180px;
}

.locations-container {
    width: 100%;
    height: 580px;
    background-image: url("/assets/img-locations-background.webp");
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.5;
    display: flex;

}

.locations-title-container {
    width: 200px;
    height: 50px;
    margin: 70px auto 40px;
    opacity: 0.7;
}

.locations-title h2 {
    font-size: 38px;
    text-align: center;
}

.locations-text-container {
    margin: 40px -370px;
    width: 1000px;
    display: flex;
}

.downtown-text-container, .east-bayside-text-container, .oakdale-text-container {
    width: 300px;
    height: 260px;
    background-color: rgba(1, 1, 1, 1);
    text-align: center;
    margin: 15px 40px 0 0;
}

.downtown-text-container h3, .east-bayside-text-container h3, .oakdale-text-container h3 {
    font-size: 28px;
    padding: 25px;
}

.downtown-text-container p, .east-bayside-text-container p, .oakdale-text-container p {
    margin: 0 24px 24px;
    padding: 0;
}

.downtown-text-container p {
    padding: 5px;
}

.the-tea-cozy {
    width: 100%;
    height: 200px;
    opacity: 0.5;
    margin: 0 auto;
    text-align: center;
}

.the-tea-cozy h2 {
    font-size: 32px;
}

.the-tea-cozy h2, .the-tea-cozy h5 {
    padding: 20px;
}



